* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 95%;
    max-width: 800px;
    margin: auto;
    background-image: linear-gradient(120deg, #2193b0 0%, #6dd5ed 100%);
    color: white;
    font-family: "sans-serif", sans-serif;
    min-height: 100vh;
  }
  
  main {
    background: #00000054;
    align-items: center;
    padding: 5px 80px 100% 80px;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
    margin-top: 30px;
    font-style: italic;
  }
  
  .crossedText {
    color: rgba(255, 0, 0, 0.624);
    text-decoration: line-through rgba(255, 0, 0, 0.624);
  }
  
  .todo {
    margin-top: 25px;
    text-align: center;
  }
  
  button {
    font-size: 18px;
    margin-left: 10px;
    min-width: 70px;
    opacity: 0.85;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    padding: 6px;
    text-align: center;
  }
  
  button:hover {
    opacity: 1;
  }
  
  .add-btn {
    border: none;
    background: #66a3d2;
  }
  
  .finished {
    background: #08e41a;
    border: none;
  }
  
  .delete {
    background: #e6002a;
    border: none;
  }
  
  input {
    font-size: 15px;
    border-radius: 6px;
    padding: 8px;
    border: none;
  }
  
  ul li {
    margin: 16px;
    text-align: left;
    word-wrap: break-word;
    list-style-type: none;
  }