*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    width: 95%;
    max-width: 800px;
    margin: auto;
    background-image: linear-gradient(120deg, #2193b0  0%, #6dd5ed 100%);
    color: white;
    font-family: "sans-serif", sans-serif;
    min-height: 100vh;
}


main{
    background: #00000054;
    align-items: center;
    padding: 5px 40px 100% 40px;
    margin-top: 20px;
    border-radius: 10px;
}

h1{
    text-align: center;
    margin-top: 30px;
    font-style: italic;
}

.crossedText{
    color: rgba(255, 0, 0, 0.624);
    text-decoration: line-through rgba(255, 0, 0, 0.624);
}

.todo{
    margin-top: 25px;
    text-align: center;
}

button{
    font-size: 18px;
    margin-left: 10px;
    min-width: 70px;
    opacity: 0.85;
    background: none repeat scroll 0 0 #66A3D2;
    border-color: #FFFFFF #24557b #327CB5 #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 3px #333333;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
}

button:hover{
    opacity: 1;
}

button:active{
    background-color: yellow;
    
}

.add-btn{
    background: none repeat scroll 0 0 #66A3D2;
}

.finished{
    background: none repeat scroll 0 0 #08e41a;
    border-color: #FFFFFF #ffffff #21b32d #FFFFFF;
}

.delete{
    background: none repeat scroll 0 0 #e6002a;
    border-color: #FFFFFF #ffffff #b10b2a #FFFFFF;
}

input{
    font-size: 15px;
    border-radius: 8px;
}

ul li{
    margin: 10px;
  }


